*{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    min-height: 660px;
    background: rgb(14, 14, 64);
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 1.5rem;
    font-size: 1.4rem;
    padding: 50px;
    color: #fff;
    background-color: rgb(25, 41, 87);
    
}

#form-container , #wind{
    border-top: 1px solid #fff;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

#city-input{
    width: 250px;
    height: 2rem;
    text-align: center;
}

#climate-container{
    margin: 1rem;
}
